* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
}

.note {
	color: #cc0000;
	font-style: italic
}

#logo {
	display: block;
	margin: 0 auto;
}

h1 {
    color: #fff;
    font-size: 1.6em;
}

h2 {
	font-size: 1.3em;
}

h3 {
    font-size: 1.15rem;
	margin-bottom: 6px;
	padding-bottom: 4px;
	border-bottom: 3px solid #8FCC6E;
	/*margin-left: 2.4em;
	text-indent: -2.4em;*/
}

.container {
    background-color: #fff;
    margin: 0 auto;
    max-width: 1000px;
    padding: .5em;
}

.center {
    text-align: center;
}

.bar {
    background-color: #8fcc6e;
    height: 8px;
    position: relative;
    width: 100%;
}

.intro,
.end {
    font-size: 1.3em;
	line-height: 1.4;
}
.intro {
	background: #8FCC6E;
	border-radius: 10px;
	margin-top: 1em;
	padding: .25em 1em;
}
.intro p {
	color: #fff;
	text-align: left;
}
.end {
	border: 3px solid #8fcc6e;
	border-radius: 10px;
	padding: .5em 1em;
	margin: 1em auto;
	max-width: 980px;
}
.end span {
	background-color: #8fcc6e;
	border-radius: 4px;
	color: #fff;
	padding: 3px 5px;
}
.submit {
	margin-top: 1em;
}

.clearfix {
    overflow: auto;
}

.row {
	padding: 0 8px;
}
/* Clearfix for question-row */
.row:before,
.row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}

.question {
	margin: 8px 0;
}

.question-number {
	background-color: #8FCC6E;
	border-radius: 6px 6px 0 0;
	color: #fff;
	display: inline-block;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 4px;
	width: 52px;
}

.question-text {
	font-size: 1.15rem;
	margin-bottom: 6px;
	padding: 0 4px 4px 4px;
	border-bottom: 3px solid #8FCC6E;
}

/* Choice */
.choices-container {
	margin-left: 0px;
}
.choice-container {
    border-radius: 4px;
    margin: 4px 0;
}
.choice-container:hover{
    background-color: rgba(255,204,0,.3);
}

.choice-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 7px 6px;
}

.choice-label {
    display: block;
    padding: 8px 0 8px 35px;
	position: relative;
	top: 1px;
}

.cursor-pointer {
	cursor: pointer;
}

input[type=text] {
    font-size: 1em;
    margin-left: 34px;
	padding: 5px;
}

button {
    background: #fff;
    border-radius: 5px;
    border: 2px solid #8FCC6E;
    color: #8FCC6E;
	cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
	margin-right: .5em;
    padding: 10px 14px;
    transition: box-shadow .3s;
}

button:hover {
    box-shadow: 0 0 10px #2683cc;
}

button.disabled {
    border: 2px solid #ccc;
    color: #ccc;
	cursor: not-allowed;
    transition: none;
}
button.disabled:hover {
    box-shadow: 0 0;
}
button.disabled:focus {
	outline: 0;
}

#userChoices {
	display: none;
	border: 2px dashed red;
	padding: 8px;
	word-break: break-all;
}

.linda {
	font-style: italic;
}

.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}